.heart-button {
    font-size: clamp(13rem, 25vw, 15rem);
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;

  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.25));
  transition: transform 0.12s ease, filter 0.12s ease;
}

.heart-button:active {
  transform: scale(1.2);
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.35));
}
