#root {
  max-width: 1280px;
  text-align: center;
  height: 100dvh;
  width: 100%;
}


.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;

  /* Gradient background */
  background: radial-gradient(circle at top, #1f2933, #0b0f14);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.card {
  padding: 40px 32px;
  border-radius: 20px;

  display: grid;
  grid-template-rows: 1fr auto 1fr auto; /* fixed slots */
  align-items: center;
  justify-items: center;

  height: 600px;
  width: 600px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}


.reset-btn {
  margin-top: 12px;
  padding: 10px 18px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.25);
  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);

  font-size: 14px;
  cursor: pointer;
  transition: background 0.15s ease, transform 0.1s ease;
}

.reset-btn:hover {
  background: rgba(255, 255, 255, 0.35);
}

.reset-btn:active {
  transform: scale(0.96);
}