.status {
  color: rgba(255, 255, 255, 0.85);
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-size: clamp(1.8rem, 12vw, 3rem);
}

.measuring {
  animation: pulseText 1s infinite alternate;
}

@keyframes pulseText {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.bpm {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: baseline;
  width: 100%;
}

.value {
  grid-column: 2;
  justify-self: center;
  font-size: 100px;
  font-weight: 700;
  color: white;
}

.unit {
  grid-column: 3;
  justify-self: start;
  font-size: 30px;
  opacity: 0.8;
}
